.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

select {
  width: 100%;
}

div {
  display: inline-block;
  margin: 2px;
  padding: 1px;
  cursor: default;
}

.selected {
  background-color: #0078d7;
  color: #FFFFFF;
}

button {
  margin-right: 2px;
}
